<div class="card w-75 mx-auto mt-3 bloo2" id="homeCard">
<div>
    <button type="button" class="btn btn-primary" id="createPlan">Create Plan</button>
</div>
    {{#each plans as |plan| }}
    <div class="card col-sm shadow-lg" style="border-radius:25px;" id="mealCard">
        <div class="container">
        <div class="row">
            <div class="w-75 text-center">
                <h1>{{plan.name}}</h1>
                <p>Click for more Info!</p>
            </div>
            <div class="col-sm text-center my-auto">
                <button type="button" class="btn btn-primary addBtn" data-name={{plan.name}}>Add to Mealplan</button>
                <p class="d-none">{{plan.name}}</p>
            </div>
            {{#if plan.meals}}
            <ul>
            {{#each plan.meals as |meal|}}
            <li>{{meal.name}}</li>
            {{/each}}
            </ul>
            {{else}}
            <div>
                <p>none</p>
            </div>
            {{/if}}
        </div>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/mealplan.js"></script>