<div class="card w-75 mx-auto mt-3 bloo2" id="homeCard">
    <h1>Meal Plans</h1>
    <div class="pbor"></div>
    {{#each user.mealplans as |mealplan|}}
    <div class="card m-1">
        <div class="card-header text-center">
            <h2>{{mealplan.name}}<span class="float-end mx-2"><button class="btn btn-primary delbtn" data-id="{{mealplan.id}}">delete</button></span></h2>
        </div>
        <div class="card-body">
            <p class="card-text">Created by: {{mealplan.creator}}</p>
            <ul class="card-text">
                {{#each mealplan.meals as |meal|}}
                    <li class="lists my-1"><a href="/api/test/{{meal.id}}/recipe">{{meal.name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/profile.js"></script>